
/*
This is the global css file for this site
*/


/*
This is used to add a cover photo to the index page
https://stackoverflow.com/questions/39427416/full-page-image-background-using-bulma-io
*/
.bg-img { 
    background-image: url(bridge.jpg) ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;

}

/*
Text on landing page
*/
.main-text{
    padding: 5%;
    font-size: 400%;
    font-weight: 200;
}
.title{
    color: #EEEEEE;
}
/*
Button on Landing page
*/
.button.is-link{
    color:#EEEEEE;
    background-color: #0078d7;
}
.button.is-link:hover{
    color:#EEEEEE;
    background-color: #0369bdf5;
}

/*
Special styles for landing page nav bar
*/
a.navbar-item:hover{
    background-color: #0078d7;
    color: white;
}

.button.is-link.is-inverted{
    color: white;
    background-color: #0078d7;
}
.button.is-link.is-inverted:hover{
    color: #0078d7;
    background-color: #EEEEEE;
}

/*
Styles for normal nav bar
*/
.main-nav{
    background-color: white;
}
.nav-item{
    background-color: white;
    ;
}
.navbar-item img{
    max-height: 2rem;
}


.main-body{
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
}
.body-list{
   
}
.circle-pic{
    border-radius: 50%;
    width: 50%;
    padding: 20px;
}
/*
Global Styles
*/
body{
    background-color: #EEEEEE;
}
html{
    background-color: #EEEEEE;
}

